.advantages-section {
  background: #cbdfe9;
}

.advantages-bg-wrapper {
  @include media(desktop) {
  }
}

.advantages-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-bottom: 80px;
  }
}

.advantages-title-wrapper {
  @include media(desktop) {
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-subtitle {
  @include media(desktop) {
  }
}

.advantages-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #182f3b;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 16px;
    max-width: 1058px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.advantages-img {
  min-width: 56px;

  @include media(desktop) {
  }
}

.advantages-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #182f3b;

  @include media(desktop) {
    font-size: 16px;
  }
}
