.progression-section {
  @include media(desktop) {
  }
}

.progression-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.progression-container {
}

.progression-title {
  @include media(desktop) {
  }
}

.progression-subtitle {
  @include media(desktop) {
  }
}

.progression-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #182f3b;
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: max-content;
    margin-bottom: 48px;
  }
}

.progression-swiper-container {
  max-width: 273px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.progression-swiper-container.show {
  visibility: visible;
}

.progression-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.progression-slide {
  background: #476a7c;
  border-radius: 16px;
  padding: 24px 16px;
  max-width: 273px;
  min-height: 346px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    max-width: 210px;
    min-height: 342px;
  }
}

.progression-item-img {
  @include media(desktop) {
  }
}

.progression-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
    font-size: 16px;
  }
}

.progression-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
    max-width: 158px;
    margin-left: auto;
    margin-right: auto;
  }
}
