.works-section {
  background: #bccbda;

  @include media(desktop) {
  }
}

.works-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.works-container {
  @include media(desktop) {
  }
}

.works-title {
  @include media(desktop) {
  }
}

.works-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #343945;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 8px;

  @include media(desktop) {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
  }
}

.works-list-item {
  box-shadow: 1px 2px 2px 0 rgba(52, 57, 69, 0.4);
  background: #fafafa;
  border: 2px solid #9cb4ce;
  border-radius: 16px;
  padding: 22px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 164px;

  @include media(desktop) {
    padding: 30px;
    max-width: 240px;
  }
}

.works-item-number {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #63666b;

  @include media(desktop) {
  }
}

.works-item-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #343945;
  max-width: 110px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.works-item-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #343945;

  @include media(desktop) {
  }
}
