.works-section {
  @include media(desktop) {
  }
}

.works-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/works/works-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/works/works-bg-desk.jpg);
  }
}

.works-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 250px;

  @include media(desktop) {
    padding-bottom: 234px;
  }
}

.works-container {
  @include media(desktop) {
  }
}

.works-subtitle {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.works-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #182f3b;

  @include media(desktop) {
    font-size: 16px;
    max-width: 1058px;
  }
}
