<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title about-title">The Core Idea</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">
          One Word. One Chance to Think Differently.
        </p>
        <p class="about-text">
          We took the whole word-guessing thing and basically stripped out all
          the annoying parts that don't actually make the game better.<br />
          No clutter, no distractions, no pressure to keep playing endlessly.
          Each day gives you a new word. That’s it.<br />
          You can approach it however you want: quickly, instinctively, or
          slowly, thoughtfully. There’s no “correct” pace — only your way of
          solving it.
        </p>
      </div>
    </div>
  </div>
</section>
