<section class="section advantages-section" id="advantages">
  <div class="section-title-wrapper advantages-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title advantages-title">Why It Works</h2>
    </div>
  </div>
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <p class="section-subtitle advantages-subtitle">
        A Game That Fits Your Day
      </p>
      <p class="advantages-text">
        Wind Down doesn’t try to replace your time. It fits into it.<br
          class="advantages-text-br"
        />
        Sometimes you'll knock out a puzzle in 30 seconds, other times you might
        sit with it for a while.<br class="advantages-text-br" />
        Maybe it becomes part of your morning routine, or maybe you just pull it
        out when your brain needs a quick reset.<br
          class="advantages-text-br"
        />
        And honestly? That's probably why people keep coming back to it.
      </p>
      <div class="advantages-content-wrapper">
        <picture>
          <source
            srcset="./img/advantages/advantages-img-desk.png"
            media="(min-width: 1440px)"
            width="190"
            height="182" />
          <source
            srcset="./img/advantages/advantages-img-mob.png"
            width="323"
            height="309" />
          <img
            class="advantages-img"
            src="./img/advantages/advantages-img-mob.png"
            alt="Screenshot of the game"
            width="323"
            height="309"
            loading="lazy"
        /></picture>

        <ul class="advantages-list">
          <li class="advantages-list-item">
            <div class="advantages-item-circle"></div>
            <p class="advantages-item-text">Short daily sessions</p>
          </li>
          <li class="advantages-list-item">
            <div class="advantages-item-circle"></div>
            <p class="advantages-item-text">Mental clarity without stress</p>
          </li>
          <li class="advantages-list-item">
            <div class="advantages-item-circle"></div>
            <p class="advantages-item-text">
              Something you can stick with that won't stress you out
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
