<section class="section cta-section" id="cta">
  <div class="section-title-wrapper cta-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title cta-title">Start Now</h2>
    </div>
  </div>
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <p class="section-subtitle cta-subtitle">
          Take a Moment. Solve a Word.
        </p>
        <p class="cta-text">
          You don’t need hours.<br class="cta-text-br" />
          You don’t need pressure.<br />
          Just one word. One pause. <br class="cta-text-br" />
          One clear thought.<br />
          And maybe — a small habit worth keeping.
        </p>
        <a
          class="hero-btn cta-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.mobileinspiredsolutions.winddown&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
          ><svg class="playstore-icon" width="195" height="44">
            <use href="./img/sprite.svg#icon-playstore"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
