<section class="cta-section section" id="cta">
  <div class="cta-section-wrapper">
    <div class="section-title-wrapper benefits-title-wrapper">
      <div class="container section-title-container">
        <img
          class="section-title-img"
          src="./img/about/section-title-img.png"
          alt="Star"
          width="15"
          height="15"
        />
        <h2 class="section-title cta-title">Play now</h2>
      </div>
    </div>
    <div class="cta-bg-wrapper">
      <div class="container cta-container">
        <p class="section-subtitle">The Ocean Won’t Clean Itself</p>
        <p class="cta-text">
          Most games are just time-killers, right? But this one actually makes
          you feel like you're accomplishing something real. One match can open
          a path. One combo can remove a wave of debris. One finished level can
          turn a damaged place into something bright again. Little by little,
          the sea starts to breathe.
        </p>

        <a
          class="hero-btn cta-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.AjnA.OceanRescue&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
          ><svg class="playstore-icon" width="195" height="44">
            <use href="./img/sprite.svg#icon-playstore"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
