<section class="section faq-section" id="faq">
  <div class="faq-section-wrapper">
    <div class="section-title-wrapper faq-title-wrapper">
      <div class="container section-title-container">
        <img
          class="section-title-img"
          src="./img/about/section-title-img.png"
          alt="Star"
          width="15"
          height="15"
        />
        <h2 class="section-title faq-title">FAQ</h2>
      </div>
    </div>
    <div class="faq-bg-wrapper">
      <div class="container faq-container">
        <p class="section-subtitle">FAQ</p>
        <ul class="faq-list">
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Is Ocean Rescue easy to learn?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. The basic mechanics are simple and intuitive, so new
                players can start quickly, while later missions add more
                strategy and variety.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >What makes this game different from other match-3
                  titles?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Its mission structure. Each level feels tied to a purpose, such
                as cleaning debris, rescuing turtles, or restoring coral, rather
                than just reaching a score.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Are there special boosters in the game?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. Matching larger groups creates ocean-themed boosters that
                help clear wide areas, remove debris, and support mission
                progress.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Does the environment change as I play?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. One of the game’s strongest features is its visual
                transformation. Polluted scenes become brighter and healthier
                after successful missions.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Is the game only about speed?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                No. Some levels reward quick thinking, but many require careful
                planning and the smart use of boosters.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Who is this game for?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                It is suitable for players who enjoy colorful puzzle gameplay,
                satisfying progression, and a more meaningful adventure
                structure.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
