<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title features-title">Designed to Feel Different</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="section-subtitle">Calm by Design</p>
      <p class="features-text">
        Honestly, we probably obsessed over the tiny details way more than we
        should have.<br class="features-text-br" />
        But it turns out when you're trying to think clearly, all that extra
        stuff just gets in the way.<br class="features-text-br" />
        Soft colors, clean layout, and smooth interactions create an experience
        that doesn’t compete for your attention. It gives it back to you.
      </p>
      <ul class="features-list">
        <li class="features-list-item">
          <svg class="features-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">Minimalist interface</p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-features2"></use>
          </svg>
          <p class="features-item-text">No visual noise</p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-features3"></use>
          </svg>
          <p class="features-item-text">Responsive input</p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-features4"></use>
          </svg>
          <p class="features-item-text">Comfortable interaction</p>
        </li>
      </ul>
    </div>
  </div>
</section>
