<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <img
        class="section-title-img"
        src="./img/about/section-title-img.png"
        alt="Star"
        width="15"
        height="15"
      />
      <h2 class="section-title features-title">Why Players Stay</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="section-subtitle features-subtitle">
        Why Ocean Rescue Feels Different
      </p>
      <ul class="features-list">
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img1-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img1-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img1-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Story-driven progression instead of repetitive stages
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img2-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img2-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img2-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Mission-based gameplay with clear goals
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img3-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img3-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img3-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Ocean-themed items and boosters that feel fresh
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img4-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img4-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img4-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Rich underwater visuals with satisfying transformation effects
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img5-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img5-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img5-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            A balance of relaxation, strategy, and challenge
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img6-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img6-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img6-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Levels that connect gameplay with a strong rescue theme
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img7-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img7-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img7-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            A colorful world that keeps changing as you advance
          </p>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img8-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/features/features-img8-mob.png"
              width="64"
              height="64" />
            <img
              class="features-item-img"
              src="./img/features/features-img8-mob.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
          /></picture>
          <p class="features-item-text">
            Easy to start, but engaging enough to keep mastering
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
