<section class="gameplay-section section" id="gameplay">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title gameplay-title">More Than Just Today</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="section-subtitle gameplay-subtitle">
        Explore Beyond the Daily Puzzle
      </p>
      <p class="gameplay-text">
        Wind Down isn’t limited to one moment per day. When you feel like
        playing more, there’s always something waiting.
      </p>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="240"
                height="225" />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="208"
                height="195" />
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="208"
                height="195"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Monthly Challenges</h3>
            <p class="gameplay-item-text">
              A sequence of puzzles that builds over time, testing consistency
              and focus.
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="240"
                height="225" />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="208"
                height="195" />
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="208"
                height="195"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Full Archive Access</h3>
            <p class="gameplay-item-text">
              Missed a day? Want to revisit a puzzle? Everything stays
              available.
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img3-desk.png"
                media="(min-width: 1440px)"
                width="240"
                height="225" />
              <source
                srcset="./img/gameplay/gameplay-img3-mob.png"
                width="208"
                height="195" />
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Screenshot of the game"
                width="208"
                height="195"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Flexible Play</h3>
            <p class="gameplay-item-text">
              No pressure to keep up. Play when you want, how you want.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
