<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Wind Down</h1>
          <p class="hero-subtitle">A Quiet Moment for Your Mind</p>
          <p class="hero-top-text">
            Guess the daily word.<br class="hero-top-text-br" />
            Slow down. Stay sharp.
          </p>
          <p class="hero-text">
            Okay, so most mobile games today? They're basically just
            notification spam disguised as entertainment. We got tired of that
            and decided to build something that wouldn't constantly bug you. We
            built Wind Down to be that one game you actually look forward to,
            not another time-waster you mindlessly tap through. A single word. A
            few guesses. A moment to think clearly. Whether it’s your morning
            coffee or a late evening pause, this is your space to reset and
            focus.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.mobileinspiredsolutions.winddown&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="195" height="44">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
          <p class="hero-bottom-text">
            Version 1.0.1 · Android 9+ · Released Jun 17, 2025
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
