<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">The Core Idea</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#challenge"
          >Daily Challenge</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >More Than Just Today</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >Play Your Way</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Designed to Feel Different</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages"
          >Why It Works</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#info">Game Info</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#cta">Start Now</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
    </ul>
  </nav>
</div>
