<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >Mission Behind the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works"
          >Storyline Journey</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >Core Gameplay</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >Rescue Missions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Ocean Powers and Boosters</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages"
          >Why Players Stay</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#transformation"
          >Visual Transformation</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#cta">Play Now</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
    </ul>
  </nav>
</div>
