<section class="progression-section section" id="progression">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <img
        class="section-title-img"
        src="./img/about/section-title-img.png"
        alt="Star"
        width="15"
        height="15"
      />
      <h2 class="section-title progression-title">Rescue Missions</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle progression-subtitle">
        Every Level Has a Purpose
      </p>
      <p class="progression-text">
        Wind Down isn’t limited to one moment per day. When you feel like
        playing more, there’s always something waiting.
      </p>
      <div class="progression-swiper-container">
        <ul class="swiper-wrapper progression-swiper-wrapper">
          <li class="swiper-slide progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img1-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="178" />
              <source
                srcset="./img/progression/progression-img1-mob.png"
                width="200"
                height="200" />
              <img
                class="progression-item-img"
                src="./img/progression/progression-img1-mob.png"
                alt="Screenshot of the game"
                width="200"
                height="200"
                loading="lazy"
            /></picture>
            <h3 class="progression-item-title">Rescue Baby Turtles</h3>
            <p class="progression-item-text">
              Clear obstacles and open safe routes so baby turtles can reach the
              water and continue their journey.
            </p>
          </li>
          <li class="swiper-slide progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img2-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="178" />
              <source
                srcset="./img/progression/progression-img2-mob.png"
                width="200"
                height="200" />
              <img
                class="progression-item-img"
                src="./img/progression/progression-img2-mob.png"
                alt="Screenshot of the game"
                width="200"
                height="200"
                loading="lazy"
            /></picture>
            <h3 class="progression-item-title">Collect Ocean Debris</h3>
            <p class="progression-item-text">
              Match and remove harmful objects like plastic bottles, fishing
              nets, and scattered waste before they overwhelm the board.
            </p>
          </li>
          <li class="swiper-slide progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img3-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="178" />
              <source
                srcset="./img/progression/progression-img3-mob.png"
                width="200"
                height="200" />
              <img
                class="progression-item-img"
                src="./img/progression/progression-img3-mob.png"
                alt="Screenshot of the game"
                width="200"
                height="200"
                loading="lazy"
            /></picture>
            <h3 class="progression-item-title">Restore Coral Reefs</h3>
            <p class="progression-item-text">
              Use precise matches and special items to heal damaged coral
              patches and bring color back to underwater ecosystems.
            </p>
          </li>
          <li class="swiper-slide progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img4-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="178" />
              <source
                srcset="./img/progression/progression-img4-mob.png"
                width="200"
                height="200" />
              <img
                class="progression-item-img"
                src="./img/progression/progression-img4-mob.png"
                alt="Screenshot of the game"
                width="200"
                height="200"
                loading="lazy"
            /></picture>
            <h3 class="progression-item-title">Clear Hazard Zones</h3>
            <p class="progression-item-text">
              Break through blocked spaces, remove pollution clusters, and
              reclaim areas hidden beneath layers of damage.
            </p>
          </li>
          <li class="swiper-slide progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img5-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="178" />
              <source
                srcset="./img/progression/progression-img5-mob.png"
                width="200"
                height="200" />
              <img
                class="progression-item-img"
                src="./img/progression/progression-img5-mob.png"
                alt="Screenshot of the game"
                width="200"
                height="200"
                loading="lazy"
            /></picture>
            <h3 class="progression-item-title">Protect Fragile Sea Life</h3>
            <p class="progression-item-text">
              Complete mission goals while keeping the environment stable and
              creating space for marine creatures to return.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
