<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-circle"></div>
      <h2 class="section-title progression-title">Play Your Way</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle">Quiet Competition, or Just You</p>
      <div class="progression-content-wrapper">
        <div class="progression-text-container">
          <p class="progression-text">
            Some players like to keep things personal. Others enjoy a little
            comparison.
          </p>
          <p class="progression-text">
            Wind Down works either way - we're not gonna force you into
            anything.
          </p>
          <p class="progression-text">
            No accounts.<br />
            No interruptions. Just the game.
          </p>
        </div>
        <img
          class="progression-img"
          src="./img/progression/progression-img-mob.png"
          alt="Screenshot of the game"
          width="289"
          height="289"
          loading="lazy"
        />
        <ul class="progression-list">
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Share your results</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Compare attempts and time</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Improve your streak</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Challenge yourself, not others</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
